

.social {
    cursor: default;
    list-style: none;
    margin-top: 20px;
    user-select: none;
}
.social li {
    display: inline-block;
    margin: 2px;
}
.social a {
    cursor: default;
    border: none;
}
.social svg {
    fill: #333;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 1px #333;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}
.social svg:hover, .dark .social svg {
    transform: rotate(360deg);
    transition: .5s;
}
.social li#mail svg:hover, .dark li#mail svg {
    border-color: #ff6f32;
    fill: #ff6f32;
}
.social li#github svg:hover, .dark li#github svg {
    border-color: #4fec51;
    fill: #4fec51;
}
.social li#linkedin svg:hover, .dark li#linkedin svg {
    border-color: #0077B5;
    fill: #0077B5;
}
.social li#twitter svg:hover, .dark li#twitter svg {
    border-color: #55acee;
    fill: #55acee;
}
.social li#instagram svg:hover, .dark li#instagram svg {
    border-color: #9b6954;
    fill: #9b6954;
}
.social li#flickr svg:hover, .dark li#flickr svg {
    border-color: #FF0084;
    fill: #FF0084;
}
.social li#night svg:hover, .dark li#night svg {
    border-color: #EEC900;
    fill: #EEC900;
}
